node_modules/
package-lock.json
.git
.gitignore

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.dev
#.env.prod

# Built Files
.bimio
bimio.exe
build/

# Backup Files
*backup*
